<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>
      <%= team %>
      <br />
      <img src="/images/flint.png" >
    </h1>
    <br />
    <h2>
      <%= city %>
      <br />
      <img src="/images/sd.jpeg" >
    </h2>
    <p>
      <%= wins %>
    </p>
    <p>
      <%= player1 %>
      Position: <%= position1 %>
      <br />
      <%= player2 %>
      Position: <%= position2 %>
      <br />
      <%= player3 %>
      Position: <%= position3 %>
      <br />
      <%= player4 %>
      Position: <%= position4 %>
      <br />
      <%= player5 %>
      Position: <%= position5 %>
    </p>
    <br />
    <a href='/'> Try again?</a>
  </body>
</html>
