<div id ="teamlogo" class="jumbotron">
  
  <h1><%= allTeams.team %></h1>
</div>



<!-- <h1>
  <%= allTeams.team %>
  <br />

</h1> -->
<br />
<h2>
  <%= allTeams.city %>
  <br />

</h2>
<p>
  <%= allTeams.wins %>
</p>
<p>
  Player: <%= allTeams.player1 %>
  Position: <%= allTeams.position1 %>
  <br />
  Player: <%= allTeams.player2 %>
  Position: <%= allTeams.position2 %>
  <br />
  Player: <%= allTeams.player3 %>
  Position: <%= allTeams.position3 %>
  <br />
  Player: <%= allTeams.player4 %>
  Position: <%= allTeams.position4 %>
  <br />
  Player: <%= allTeams.player5 %>
  Position: <%= allTeams.position5 %>
</p>
<br />
<a href='/'> Try again?</a>
